
.dashboard {
    display:flex;
    width: 1330px;
    min-height: 100vh; /* Assure que le conteneur prend au moins la hauteur de l'écran */
  
  }
  
  /* Sidebar Styles */
  .sidebar {
    position: fixed; /* Fix the sidebar position */
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background: #ffffff; /* White background */
    box-shadow: 1px 0px 4px #fcf7f7; /* Grey shadow */
    padding: 0.3rem;
    overflow: auto;
  }
  
  /* Logo and Title Styles */
  .sidebar .logoDiv {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0;
    cursor: pointer;
    
  }
  
  .sidebar .logoDiv img {
    width: 50px; /* Adjusted size */
    margin-right: 2rem;
    background: rgba(233, 32, 206, 0.1); /* Light pink background */
    border-radius: 4px;
    padding: 0.2rem;
  }
  
  .sidebar .logoDiv h2 {
    font-size: 1.5rem; /* Adjusted font size for title */
    color: #7e6f71; /* Dark color for title */
  }
  
  /* Menu Styles */
  .sidebar .menuDiv,
  .sidebar .settingsDiv {
    margin-top: 1.3rem;
   
  }
  //µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ
  .settingsDiv .menuLink,
  .menuLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff; /* Default text color */
    font-weight: 500;
  
    &:hover,
    &:focus {
      color: #ffffff; /* Text color on hover or focus */
      background-color: rgb(83, 163, 229); /* Background color on hover or focus */
      border-radius: 5px; /* Optional: add border radius for a rounded background */
    }
  }
  
  
  
  
  
  .sidebar .menuLists {
    list-style: none;
    padding: 0;
  }
  
  .sidebar .menuLists .listItem {
    margin-bottom: 0.5rem;
    position: relative;
  
    &::before {
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      width: 5px;
      bottom: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: transparent; /* Default color */
    }
  
    &:hover::before,
    &:focus::before {
      background-color: #0babe1; /* Color on hover or focus */
    }
  }
  
  .sidebar .menuLink {
    
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #af1d1d; /* Default text color */
    font-weight: 500;
  
    &:hover,
    &:focus {
      color: #27f00c; /* Text color on hover or focus */
      background-color: #000000; /* Background color on hover or focus */
      border-radius: 5px; /* Optional: add border radius for a rounded background */
    }
  }
  
  .sidebar .menuLink .icon {
    margin-right: 0.3rem;
    
  }
  
  /* Settings Styles */
  .sidebar .settingsDiv {
    margin-top: 1.5rem;
    
  }
  
  .sidebar .settingsDiv .divTitle,
  .sidebar .menuDiv .divTitle {
    font-size: 1.2rem; /* Adjusted font size */
    color: #e28e8e; /* Color for titles */
    padding: 0 0.5rem 0.5rem;
  }
  
  .sidebar .settingsDiv .menuLists .listItem,
  .sidebar .menuDiv .menuLists .listItem {
    margin-bottom: 0.5rem;
  }
  
  .sidebar .settingsDiv .menuLink,
  .sidebar .menuLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #c14f4f; /* Default text color */
    font-weight: 500;
  
    &:hover,
    &:focus {
      color: #050505; /* Text color on hover or focus */
      background-color: rgb(0, 0, 0); /* Background color on hover or focus */
      border-radius: 5px; /* Optional: add border radius for a rounded background */
    }
  }
  
  .sidebar .settingsDiv .menuLink .icon,
  .sidebar .menuLink .icon {
    margin-right: 0.3rem;
    
  }
  
  /* Adjustments for Grid Layout */
  .sidebar.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .sidebar .menuDiv.grid,
  .sidebar .settingsDiv.grid {
    display: grid;
  }
  
  .dashboardContainer {
    background-color:#000000; /* Background color for the dashboard container #072D44!!!!!!!!!!!!!!!!!!! */
    height:inherit;
  
  }
  
  img {
    width: 50px; /* Adjusted size */
  }
  
  .menuLink {
    color: rgb(251, 251, 251);
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-bottom: -8px;
  }
  
  
  .divTitle {
    font-size: 1.2rem; /* Adjusted font size */
    font-weight: 500;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Text color must be transparent to show gradient */
    background-clip: text;
    font-weight: 800;
    color: transparent; /* Ensure text color is transparent for non-WebKit browsers */
  }
  
  h2 {
    font-size: 1.3rem; /* Adjusted font size */
    background: linear-gradient(90deg, #be5cdb, #6c2efd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Text color must be transparent to show gradient */
    background-clip: text;
    
  }
  
  .sideBarCard {
    width: 100%;
    padding: 0rem;
    text-align: center;
    position: relative;
    margin-top: 5px;
  
    .icon {
      position: absolute;
      background: rgb(82, 10, 238);
      font-size: 2rem; /* Adjusted size */
      border-radius: 50%;
      top: -8px;
      right: 50%;
      color: white;
      transform: translate(50%);
      z-index: 100;
      margin-top: 18px;
      margin-right: -1.5rem;
    }
  
    .cardContent {
      position: relative;
      padding: 0rem;
      background: rgb(80, 75, 227);
      border-radius: 10px;
      overflow: hidden;
      margin-top: 23px;
      margin-right: -2rem;
      margin-left: 1rem;
        border: #f09621;
  
      h3 {
        font-size: 1rem; /* Adjusted font size */
        margin-top: 1rem;
        padding: 1rem 0;
        font-weight: 800;
        color: rgb(254, 249, 249);
      }
  
      p {
        font-size: small;
        margin-top: 0px;
        font-weight: 500;
        color: white;
      }
  
      .btn {
        position: relative;
        color: #000000;
        z-index: 1000;
        font-size: small;
      }
      .btn:hover{
        background-color: rgb(183, 65, 226);
      }
  
      .circle1, .circle2{
        position: relative;
        background: red;
        border-radius: 50%;
        opacity: -7;
      }
  
    }
  
   
  }
  .icons{
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  
  .title{
    margin-left: -120px;
    margin-bottom: 2rem;
  }
  
  .titl{
    margin-left: -150px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .mainContent {
    flex: 1; /* Prend tout l'espace restant */
    display: flex;
    flex-direction: column;
    
  }
  
  //=================================================  top  ===========================================================
  /* Top Bar Styles */
  .topBar {
    width: 88%;
    height: 60px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 17%;
    right: 0;
    z-index: 1000;
    box-shadow: 5px 1px 8px #0e0606; 
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    margin-right: 10px;
    margin-left: 30px;
    color: white;
  }
  
  .searchInput {
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #f1f1f1;
  }
  
  .notificationContainer {
    display: flex;
    align-items: center;
    margin-left: auto; /* Move to the right */
  }
  
  .notificationIcon {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    
  }
  
  .profileContainer {
    display: flex;
    align-items: center;
    margin-right: 90px; 
  }
  
  .profileIcon {
    width: 50px; /* Ajustez selon la taille de votre image */
    height: 50px; /* Ajustez selon la taille de votre image */
    border-radius: 100%; /* Crée un cercle parfait */
    border: 3px solid #1bf322; /* Couleur et épaisseur du cercle */
    overflow: hidden; /* Assure que l'image reste dans le cercle */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profileIcon img {
    width: 100%; /* Ajustez selon vos besoins */
    height: 100%; /* Ajustez selon vos besoins */
    object-fit: cover; /* Assure que l'image couvre le cercle */
  }
  
  /* Sidebar Styles */
  .sidebar {
    position: fixed; /* Fix the sidebar position */
    top: 60px; /* Adjust the top position to account for the top bar */
    left: 0;
    width: 18%;
    height: calc(100% - 60px); /* Adjust the height to account for the top bar */
    background: #ffffff; /* White background */
    box-shadow: 1px 0px 4px #fcf7f7; /* Grey shadow */
    padding: 0.3rem;
    overflow: auto;
  }
  .bottom {
    flex: 1; /* Prend tout l'espace restant */
    padding-left: 13rem;
    overflow: auto; /* Assure que le contenu défile si nécessaire */
  }
  .mainContent{
    width: 100%;
  }
  
  /* *********************************Logout style******************* */
  .logoutConfirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s;
    font-size: 18px;
  
    .confirmationBox {
      background: white;
      padding: 50px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      animation: scaleIn 0.3s;
  
      p {
        margin-bottom: 38px;
      }
  
      button {
        margin: 0 30px;
        padding: 10px 40px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.2s;
  
        &:first-of-type {
          background: #4aaa52;
          color: white;
  
          &:hover {
            background: #2fac82;
          }
        }
  
        &:last-of-type {
          background: #eb3838;
          color: rgb(255, 255, 255);
  
          &:hover {
            background: #e4786a;
          }
        }
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  
  
  /* Dashboard.scss */
  
  .notificationContainer {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1000;
  }
  
  .notification {
    padding: 10px;
    margin: 5px 0;
    border-radius: 3px;
    background-color: #f8f9fa; /* Couleur de fond par défaut */
    color: #212529; /* Couleur du texte par défaut */
    border: 1px solid #dee2e6;
  }
  
  .notification.success {
    background-color: #d4edda; /* Couleur de fond pour les succès */
    border-left: 5px solid #28a745; /* Bordure pour les notifications de succès */
    color: #155724; /* Couleur du texte pour les succès */
  }
  .notificationBadge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #dc3545; /* Couleur de fond rouge pour le badge */
    color: white; /* Couleur du texte du badge */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  