.projectsInterncontainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: #f5f7fa;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  
  background-image: url('../../assets/chatbg1.jpg');
  background-size: cover; /* Ajuste l'image pour couvrir tout le conteneur */
  background-position: center; /* Centre l'image dans le conteneur */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  opacity: 0.9; /* Ajoute une légère transparence pour mieux voir le texte par-dessus */

  width: 780px;
  position: fixed;
  margin-left: 160px;
}


.titleprojIntern {
  font-size: 2.5rem;
  color: #070707;
  text-align: center;
  margin-bottom: 30px;
  animation: slideInFromLeft 1s ease-in-out;
}

.projectsInternlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.projectInterncard {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: zoomIn 1s ease-in-out;
  cursor: pointer;
}

.projectInterncard:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.projectInterncard h2 {
  font-size: 1.8rem;
  color: #10457e;
  margin-bottom: 15px;
}

.projectInterncard p {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
